
.navbar img {    
    border-radius: 50%;
    margin-top: -5px;
    margin-right: 16px;
    width: 50px;
    height: 50px;
    display: inline-block
}

ol,ul {
    list-style: none
}


caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block
}

*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
    background-color: #256c90;
    color: #333
}

.container {
    max-width: 1200px;
    margin: none;
}

.container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

a {
    color: #258cb0
}

a:hover {
    color: #23c393
}

strong,b {
    font-weight: bold
}

em,i {
    font-style: italic
}

sup {
    vertical-align: super;
    font-size: 75%
}

sub {
    vertical-align: sub;
    font-size: 75%
}

input[type='text'],textarea {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px #256c90 solid;
    padding: 6px 10px;
    color: #256c90;
    height: 32px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px
}

.btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #256c90;
    border: 1px #256c90 solid;
    padding: 4px 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    height: 32px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px
}

.btn:hover {
    color: #fff;
    background-color: #1b4e67
}

select {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px #256c90 solid;
    padding: 5px 6px !important;
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px
}

#header {
    position: relative;
    background-attachment: fixed;
    padding: 8px 8px 5px;
    z-index: 2
}

#header .logo {
    max-width: 460px
}

#header .logo img {
    max-width: 100%
}

#header .search {
    margin: 4px 0;
    max-width: 460px
}

#header .search button {
    border-color: #205d7c !important
}

#header hr {
    clear: both;
    height: 0px;
    background: 0;
    border-style: none;
    border-bottom: 1px dashed rgba(255,255,255,0.5);
    margin: 5px -8px 5px -8px
}

@media screen and (min-width: 480px) {
    #header hr {
        margin:10px -20px 5px -20px
    }
}

#header .btn {
    background-color: #102f3f;
    border-color: #102f3f !important
}

#header input {
    border-color: #102f3f !important
}

@media screen and (min-width: 480px) {
    #header {
        padding:20px 20px 5px
    }

    #header .search {
        margin: 10px 0;
    }
}

#cookies {
    display: none;
    z-index: 99999;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 4px;
    background: #333333;
    color: #fff;
    line-height: 20px;
    font-family: verdana;
    font-size: 12px;
    text-align: center;
}

#cookies a {
    color: #fff;
    text-decoration: none;
    padding: 2px 4px;
    background: #4682B4;
    border-radius: 5px;
}

.content {
    position: relative;
    background-color: #fff;
    padding: 8px;
    box-shadow: 0px 0px 30px rgba(255,255,255,0.8);
    z-index: 10
}

@media screen and (min-width: 480px) {
    .content {
        padding:20px;
    }
}

.content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}


h1 {
    font-family: Georgia,"Times New Roman",serif;
    font-size: 33px;
    font-weight: normal;
    line-height: 37.8px;
    margin: 8px 0 8px 0;
    padding-bottom: 0px
}

h2 {
    font-family: Georgia,"Times New Roman",serif;
    font-size: 21px;
    font-weight: normal;
    line-height: 25.2px;
    margin: 8px 0 8px;
    padding-bottom: 0px;
    font-family: Verdana,Arial,sans-serif
}

h2 span[class^='icon-'] {
    color: #1ea97f;
    padding: 4px
}

h3 {
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 25.2px;
    margin: 20px 0 10px
}

#main p {
    margin: 15px 0;
    line-height: 21px;
    text-align: justify;
    text-justify: inter-word
}

#main ul,#main ol {
    line-height: 21px;
    padding-left: 30px;
    margin: 8px 0
}


#main ol {
    list-style: decimal
}

#main ul {
    list-style: disc
}

#main li {
    margin-bottom: 15.0px
}

#main small {
    font-size: 75%;
    line-height: 80%
}

#main .break {
    word-break: break-all
}

#main big {
    font-size: 120%
}

#main pre,#main code,#main p.pre {
    font-family: monospace;
    font-size: 14px;
    line-height: 18px;
    background-color: #eee;
    border: 1px #ddd solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 5px
}

#main pre,#main p.pre {
    padding: 5px 10px
}

#main blockquote {
    margin-left: 30px
}

#main p.cite {
    margin: 20px 30px;
    font-style: italic;
    text-align: left
}

#main .ad {
    text-align: center
}

#main p.date {
    display: inline-block;
    margin-top: 10px;
    font-size: 85%;
    text-transform: uppercase;
    margin-bottom: 0
}

#main p.entry {
    padding-left: 14px;
    margin-top: 5px
}

#main hr {
    border: 0;
    height: 1px;
    border-bottom: 1px rgba(37,108,144,0.3) solid;
    margin: 20px 0
}

.article h1,.article h2,.article .monotit {
    border-bottom: 0;
    padding-bottom: 0;
    color: #333;
    font-family: Georgia,"Times New Roman",serif;
    margin: 8px 0 8px
}

.article h1:after,.article h2:after,.article .monotit:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.article h1 {
    margin: 8px 0 8px
}




.article h2,.article .monotit {
    margin: 8px 0 8px;
    font-size: 24px;
    line-height: 27.3px !important;
    text-align: left !important
}

.article h3.color {
    color: #23c393
}

.go-top {
    text-align: center;
    font-size: 80%;
    margin: 10px 0
}

.go-top a {
    text-decoration: none;
    text-align: center
}

.go-top a span {
    font-size: 64px;
    line-height: 70px;
    padding-left: 10px
}

@media screen and (min-width: 768px) {
    .go-top {
        display:none
    }
}

p.img,p.piefotos,p.pie {
    margin: 20px 0 20px !important;
    text-align: center !important;
    display: block;
    font-size: 80% !important;
    line-height: 130% !important
}

p.img img,p.piefotos img,p.pie img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto
}

p.img span,p.piefotos span,p.pie span {
    margin-top: 12px;
    display: block;
    line-height: 150%
}

img.align-right {
    display: block;
    margin: 20px auto
}

@media screen and (min-width: 530px) {
    img.align-right {
        float:right;
        margin: 0 0 10px 10px;
        max-width: 140px
    }
}

p.info {
    display: inline-block;
    padding: 10px;
    margin: 20px 0 20px !important;
    border-top: 1px #c4e1f0 solid;
    color: #256c90;
    text-align: left
}

#main p.citar {
    margin: 15px 0;
    padding: 6px;
    font-size: 11px;
    line-height: 16px;
    text-align: justify;
    text-justify: inter-word;
    background-color: #DDDDDD
}

ul.tabs,ul.pagination {
    list-style: none;
    margin: 8px 0;
    padding: 3px 0 3px 0 !important;
    border: 1px #edf6fa solid;
    border-left: 0;
    border-right: 0
}

@media screen and (min-width: 480px) {
    ul.tabs,ul.pagination {
        margin:20px 0;
        padding: 7px 0 7px 0
    }
}

ul.tabs li,ul.pagination li {
    margin-bottom: 0;
    display: inline
}

ul.tabs a,ul.pagination a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #f5fafc
}

ul.tabs a:hover,ul.pagination a:hover {
    background-color: #23c393;
    color: #fff
}

ul.tabs li.back,ul.tabs li.title,ul.pagination li.back,ul.pagination li.title {
    text-transform: uppercase;
    font-size: 80%
}

ul.tabs li.active,ul.pagination li.active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #23c393;
    color: #fff;
    padding: 9px 12px 10px 12px
}

ul.tabs li.active {
    padding: 2px
}

@media screen and (min-width: 480px) {
    ul.tabs li.active {
        padding:9px 12px 10px 12px
    }
}

ul.pagination li.active {
    padding: 9px 12px 10px 12px
}

ul.tabs li.active a,ul.pagination li.active a {
    padding: 0;
    background: 0;
    border: 0;
    color: #fff
}

ul.tabs li.active a:hover,ul.pagination li.active a:hover {
    text-decoration: underline
}

ul.tabs a {
    padding: 2px
}

ul.tabs li.active {
    padding: 2px;
}

@media screen and (min-width: 480px) {
    ul.tabs a {
        padding:8px 12px
    }

    ul.tabs li.active {
        padding: 9px 12px 10px 12px
    }
}

ul.pagination a {
    padding: 1px 6px
}

ul.pagination li.active {
    padding: 2px 6px 2px 6px
}

p.num {
    margin: 20px 0;
    padding: 7px 0 0 0 !important;
    border: 1px #edf6fa solid;
    border-left: 0;
    border-right: 0;
    font-weight: bold
}

p.num a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    padding: 1px 6px;
    margin-bottom: 7px;
    background-color: #f5fafc
}

p.num a:hover {
    background-color: #23c393;
    color: #fff
}

p.num a.active {
    background-color: #23c393;
    color: #fff
}

table {
    margin: 20px 0;
    width: 100%
}

td {
    line-height: 21px;
    vertical-align: top;
    padding: 2px 5px
}

table.monografias p {
    margin: 0 !important;
    text-align: left !important
}

table.cronologia {
    margin-top: 20px;
    border-top: 1px #d4f7ed solid
}

table.cronologia td {
    padding: 5px 8px;
    border-bottom: 1px #d4f7ed solid
}

table.cronologia td:first-child {
    background-color: #eafbf6;
    color: #23c393;
    text-align: center;
    font-size: 85%;
    font-weight: bold;
    border-right: 1px #d4f7ed solid
}

div.fotos {
    margin-top: 40px
}

div.fotos div.row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

div.fotos div.foto {
    text-align: center;
    width: 50%;
    padding: 0px 10px;
    float: left
}

div.fotos .piefotos {
    display: block;
    padding-bottom: 30px;
    padding-top: 10px
}

div.fotos a img {
    border: 8px #fff solid;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    -moz-box-shadow: 0px 0px 20px #ccc;
    box-shadow: 0px 0px 20px #ccc;
    max-width: 100%
}

div.foto-individual {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    float: none !important
}

div.foto-individual img {
    border: 8px #fff solid;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    -moz-box-shadow: 0px 0px 20px #ccc;
    box-shadow: 0px 0px 20px #ccc;
    max-width: 100%;
    margin-bottom: 0px
}

div.foto-individual p {
    text-align: justify
}

div.index {
    overflow: auto;
    width: 100%
}



div.nombres {
    margin: 30px 0
}

div.nombres div.row {
    border-bottom: 1px #ddd dotted
}

div.nombres div.row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

div.nombres div.title {
    color: #23c393
}

div.nombres div.left,div.nombres div.right {
    width: 50%;
    float: left;
    padding: 5px 0
}

div.nombres div.left {
    padding-right: 10px
}

div.nombres div.left {
    padding-left: 10px
}

