/* .caja1, #caja2, #caja3 {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
#text2 {
    display: none;
}
#img {
    transition: transform 0.3s ease;
}
.big-text {
    font-size: 2em;
} */

#img {
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}